body{
/*    text-align: center;*/
    font-family: Helvetica, sans-serif;
}
#container{
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -150px;
    margin-left: -150px;
    width: 350px;
}

p{
    position: absolute;
    top: 88%;
    left: 45%;
    margin-top: -150px;
    margin-left: -150px;
    margin-right: 25px;
    width: 350px;
    line-height: 1.6;
}

hr{
    margin-top: 20px;
}

/*
 * Buttons
 */
#whiteB{
    margin-top: 10px;
}
#whiteB, #blackB {
    padding: 5px;
}
/*
 *Colors 
 */
#white, #pink, #orange, #yellow, #red, #brown, #green, #purple, #blue, #black {
    padding: 10px;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
}
#white, #pink, #orange, #yellow, #red{
    border: #a0a0a0 solid 1px;
    color: #000;
}
#brown, #green, #purple, #blue, #black{
    border: #a0a0a0 solid 1px;
    color: #fff;
}
#white {
    background-color: white;
}
#pink {
    background-color: pink;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#brown {
    background-color: brown;
}
#green {
    background-color: green;
}
#purple {
    background-color: purple;
}
#blue {
    background-color: blue;
}
#black {
    background-color: black;
}